:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


.animation-auth{
  animation: authanimation 0.7s;
}

@keyframes authanimation {
  0%{
    transform: translateY(-30px);
    opacity: 0;
  }  
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}